.profile {
  outline: 1px solid red;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 549px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
