.popup__button {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 14px;
  padding-top: 14px;
  background-color: #000000;
  border-radius: 2px;
  box-sizing: border-box;
  border: none;
}
